<?xml version='1.0' encoding='utf-8'?>
<widget
        id="com.netric.client"
        version="0.0.9"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Netric</name>
    <description>
        Mobile client for netric.
    </description>
    <author email="dev@netric.com" href="http://netric.com">
        Netric Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />

        <!-- Splash Screens -->
        <splash src="res/android/splash/ldpi-land.png" density="land-ldpi"/>
        <splash src="res/android/splash/mdpi-land.png" density="land-mdpi"/>
        <splash src="res/android/splash/hdpi-land.png" density="land-hdpi"/>
        <splash src="res/android/splash/xhdpi-land.png" density="land-xhdpi"/>

        <splash src="res/android/splash/ldpi-port.png" density="port-ldpi"/>
        <splash src="res/android/splash/mdpi-port.png" density="port-mdpi"/>
        <splash src="res/android/splash/hdpi-port.png" density="port-hdpi"/>
        <splash src="res/android/splash/xhdpi-port.png" density="port-xhdpi"/>

        <!-- Android incons -->
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />
        <icon src="res/android/xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/xxxhdpi.png" density="xxxhdpi" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <platform name="wp8">
        <icon src="res/wp/ApplicationIcon.png" width="99" height="99" />

    </platform>

    <platform name="windows8">

    </platform>

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1000" />

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#0097a7" />
</widget>