.app-bar {
  width: 100%;
  background-color: $app-bar-color;
  z-index: 5;
  height: $app-bar-height-small;

  @media #{$device-medium} {
    height: $app-bar-height-medium;
  }

  @media #{$device-large} {
    height: $app-bar-height-large;
  }

  .paper-container {
    padding-left: $gutter-less;
    padding-right: $gutter-less;

    @media #{$device-medium} {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }

  .icon-button {
    margin-top: 8px;
    color: $app-bar-text-color;
  }

  .app-bar-title {
    @extend %font-style-title;
    color: $app-bar-text-color;
    padding: 0;
    margin: 0;

    float: left;

    line-height: $app-bar-height-small;
    @media #{$device-medium} {
      line-height: $app-bar-height-medium;
    }
    @media #{$device-large} {
      line-height: $app-bar-height-large;
    }
  }

  .app-bar-navigation-icon-button {
    float: left;
    margin-right: $gutter-less;
    height: $app-bar-height-small;

    @media #{$device-medium} {
      height: $app-bar-height-medium;
      line-height: $app-bar-height-medium;
      margin-right: $gutter;
    }

    @media #{$device-large} {
      height: $app-bar-height-large;
      line-height: $app-bar-height-large;
      margin-right: $gutter;
    }

  }

}