.left-nav {

  .left-nav-menu {
    height: 100%;
    position: fixed;
    width: $left-nav-width;
    background-color: $left-nav-color;
    z-index: 10;
    @include ease-out();

    .menu {
      .menu-item {
        height: $desktop-left-nav-menu-item-height;
        line-height: $desktop-left-nav-menu-item-height;
      }
      a.menu-item {
        display: block;
        text-decoration: none;
        color: $body-text-color;
      }
    }
  }

  &.floating {
    .left-nav-menu {
      left: 0px;
      top: 0px;
    }
  }

  &.docked {
    .left-nav-menu {
      
    }
  }

  &.closed {
    .left-nav-menu {
      transform: translate3d((-1 * $left-nav-width) - 10px, 0, 0);
    }
  }
}
