.left-nav {

  /*
   * Left nav header classes
   */
  .left-nav-header {

    height: $app-bar-height-small;
    padding-left: $gutter-less;

    @media #{$device-medium} {
      height: $app-bar-height-medium;
      padding-left: $gutter;
    }

    @media #{$device-large} {
      height: $app-bar-height-large;
      padding-left: $gutter;
    }

    h2 {
      font-family: "Casper";
      @extend %font-style-title;
      padding: 0px;
      margin: 0px;
      line-height: $app-bar-height-small;
      @media #{$device-medium} {
        line-height: $app-bar-height-medium;
      }
      @media #{$device-large} {
        line-height: $app-bar-height-large;
      }
    }
  }

  .left-nav-menu {
    height: 100%;
    position: fixed;
    width: $left-nav-width;
    background-color: $left-nav-color;
    z-index: 10;
    @include ease-out();

    .menu {
      .menu-item {
        height: $desktop-left-nav-menu-item-height;
        line-height: $desktop-left-nav-menu-item-height;
      }
      a.menu-item {
        display: block;
        text-decoration: none;
        color: $body-text-color;
      }
    }
  }

  &.floating {
    .left-nav-menu {
      left: 0px;
      top: 0px;
    }
  }

  &.docked {
    .left-nav-menu {
      
    }
  }

  &.closed {
    .left-nav-menu {
      transform: translate3d((-1 * $left-nav-width) - 10px, 0, 0);
    }
  }
}
