.file-upload {

  &.file-upload-container {

    background-color: #f0f5ff;
    border: solid 1px #dae9f5;
    padding: 5px;
    margin-bottom: 5px;
    min-height: 50px;

    .file-upload-name {
      font-weight: bold;
      float: left;
    }

    .file-upload-remove {
      height: 20px;
      float: right;

      .chamel-icon-button {
        height: 20px;
      }
    }

    .file-upload-status {
      font-size: smaller;
    }

    .file-upload-status-error {
      font-size: smaller;
      color: red;
    }
  }
}