.entity-form {

  /*
margin: 0 $gutter-less 0 $gutter-less;

@media #{$device-medium} {
    margin: 0 $gutter 0 $gutter;
}

@media #{$device-large} {
    margin: 0 $gutter 0 $gutter;
}
*/

  .entity-form-row {
    /*display: -webkit-box;
    display: -moz-box;*/

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;

    .entity-form-column {
      flex: 1 100%;
    }

    .entity-form-column-half {
      flex: 0 1 50%;
    }

    .entity-form-column-quarter {
      flex: 0 1 25%;
    }

    .entity-form-column-sidebar {
      flex: 0 0 256px;
    }
  }

  /*
  .entity-form-column {

  }
  */

  .entity-form-field {
    margin: 0 $gutter-less 0 $gutter-less;

    @media #{$device-medium} {
      margin: 0 $gutter 0 $gutter;
    }

    @media #{$device-large} {
      margin: 0 $gutter 0 $gutter;
    }

    .entity-form-field-label {
      color: rgba(0, 0, 0, 0.5);

      @media #{$device-medium} {
        float: left;
        width: 39%;
      }

      @media #{$device-large} {
        float: left;
        width: 32%;
      }
    }

    .entity-form-field-value {

      @media #{$device-medium} {
        margin-left: 40%;
      }

      @media #{$device-large} {
        margin-left: 33%;
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .entity-form-field-text {
      @media #{$device-medium} {
        margin-left: 40%;
      }

      @media #{$device-large} {
        margin-left: 33%;
      }
    }

    .entity-form-member-value {
      @media #{$device-medium} {
        float: left;
        margin-left: 5%;
      }

      @media #{$device-large} {
        float: left;
        margin-left: 3%;
      }
    }

    .entity-form-member-remove {
      float: right;

      & > button {
        height: 20px;
        width: 20px;
        padding-top: 0px;
      }
    }

    /*
    display: -webkit-box;
    display: -moz-box;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    .entity-form-field-label {
        -webkit-flex: initial;
        flex: initial;
        margin-right: $gutter-less;
        width: $icon-size;
    }

    .entity-form-field-value {

    }
    */
  }

  .entity-form-attachments {
    margin: 0 $gutter-less 0 $gutter-less;

    @media #{$device-medium} {
      margin: 0 $gutter 0 $gutter;
    }

    @media #{$device-large} {
      margin: 0 $gutter 0 $gutter;
    }
  }

  hr {
    margin-bottom: 7px;
  }

  /* Set text fields to 100% width */
  .chamel-text-field {
    width: 100%;
  }

  fieldset {
    margin: 0 $gutter-less $gutter-less $gutter-less;
    padding: 0;


    @media #{$device-medium} {
      margin: 0 $gutter $gutter $gutter;
    }

    @media #{$device-large} {
      margin: 0 $gutter $gutter $gutter;
    }

    legend {
      margin-left: $gutter-less;
      padding: 0;

      @media #{$device-medium} {
        margin-left: $gutter;
      }

      @media #{$device-large} {
        margin-left: $gutter;
      }
    }
  }

  /* Set headers */
  h1, h2, h3, h4, h5, h6 {
    margin: 14px $gutter-less 0 $gutter-less;
    padding: 0;

    @media #{$device-medium} {
      margin: 14px $gutter 0 $gutter;
    }

    @media #{$device-large} {
      margin: 14px $gutter 0 $gutter;
    }
  }

  .entity-form-header-label {
    @media #{$device-small} {
      margin-left: 5%;
    }
  }

  .entity-form-group {
    margin-top: 15px;

    @media #{$device-small} {
      margin-left: 5%;
    }

    .entity-form-group-label-selected {
      color: rgba(0, 0, 0, 0.5);
      margin-left: 6%;
    }
  }
}
