<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="NetricTest">
            <directory>./NetricTest</directory>
        </testsuite>
        <!--
        <testsuite name="Library Test Suite">
            <directory>./lib</directory>
        </testsuite>
        <testsuite name="Workers Test suite">
            <directory>./workers</directory>
        </testsuite>
        <testsuite name="Services Test Suite">
            <directory>./services</directory>
        </testsuite>
        <testsuite name="Async Test Suite">
            <directory>./async</directory>
        </testsuite>
        <testsuite name="Custom Reports Test Suite">
            <directory>./reports</directory>
        </testsuite>
        <testsuite name="Controllers Test Suite">
            <directory>./controllers</directory>
        </testsuite>
        -->
    </testsuites>
    
    <filter>
        <!-- 
        <whitelist>
            <directory suffix=".php">../../library/Zend</directory>
        </whitelist>
        -->
    </filter>

</phpunit>
